
*{
    margin: 0;
    padding: 0;
}
.container_np{
    padding-left: 0;
    padding-right: 0;
    max-width: 1200px;
}
.navbar{
    position: sticky;
    top: -10px;
    z-index: 100;
}
.navbar-brand{
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0,.1);
    text-shadow: -2px -1px 2px blue;
    letter-spacing: 2px;
}
/* .contenedor h1{
    font-size: 30px;
    width:100%;
    padding: 20px 0;
    text-align: center;
} */
.header{
    width:100%;
    height: 200px;
    /* background: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-inner{
    width: 100%;
    /* border:solid black 1px; */
    height: 200px;
}
.carousel-item{
    height: 100%;
    width:100%;
    /* border: solid rgb(255, 145, 0) 2px; */
}
.carousel-item img{
    height:100%;
    width:100%
}
.header h1{
    width:70%;
    color: white;
    text-shadow: 1px 1px 3px black;
    font-size: 40px;
}
.contenedor h2{
    font-size: 20px;
}
.contenedor h3{
    font-size: 20px;
}
.result_parrafo{
    font-size: 30px;
    padding-top: 30px;
    padding-left: 5px;
    text-align: center;
}
.solo_cr{
    display: block;
    text-align: center;
    background-color: orange;
    font-weight: bold;
    color: white;
    letter-spacing: 2px;
    text-shadow: 1px 1px 3px black;
    font-size: 20px;
}
.ultimos_resultados{
    width:100%;
    margin: 30px 0;
    /* background-color: aliceblue; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.res_tiemp_hoy{
    width:100%;
    background: linear-gradient(rgb(0, 0, 255,.9),rgb(1, 235, 118,.9));
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    font-size: 25px;
    padding: 50px 0 50px 10px;
    list-style: none;
    margin: 0 auto;
}
.res_tiemp_hoy h2,.res_chances_hoy h2,.res_lotto_hoy h2,.res_monazos_hoy h2,.res_loteria_hoy h2{
    color: white;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);

    font-size: 30px;
}
.fecha_tiemp,.fecha_m{
    font-size: 15px;
    color: white;
    /* text-shadow: none; */
}
.res_tiemp_hoy li{
    background: rgba(1, 1, 173, 0.1);
    margin: 5px 0;
}
.res_lotto_hoy{
    width:100%;
    background: linear-gradient(to right,rgb(0, 0, 255,.9),rgb(255, 165, 0,.9));
    list-style: none;
    padding: 50px 0 50px 10px;
    margin: 0 auto;
}

.res_lotto_hoy h2,.lotto_hoy_f{
    color: rgb(255, 255, 255);
}
.res_chances_hoy,.res_loteria_hoy{
    width:100%;
    background: linear-gradient(to right,rgb(128, 0, 128,.9),rgb(255, 165, 0,.9));
    list-style: none;
    padding: 50px 0 50px 10px;
    color: white;
    margin: 0 auto;
}
.res_chances_hoy h3{
    background: transparent;
}
.res_chances_hoy li,.res_monazos_hoy li,.res_loteria_hoy li{
    /* border: solid black 1px; */
    margin: 10px 0;
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}
.res_chances_hoy b,.res_monazos_hoy b,.n_t,.res_loteria_hoy b{
    font-size: 23px;
    /* text-shadow: 1px 1px 3px black; */
}
.fecha_ch{
    font-size: 18px;
}
.res_monazos_hoy{
    background: linear-gradient(to left,rgb(128, 128, 128,.9),rgb(255, 0, 0,.9));
    width:100%;
    list-style: none;
    padding: 50px 0 50px 10px;
    margin: 0 auto;
}
.res_monazos_hoy b{
    color: white;
}
.res_monazos_hoy h3,.res_monazos_hoy h2,.n_t{
    color: white;
    /* font-size: 23px; */
}
.res_loteria_hoy{
    background: linear-gradient(to right,rgb(128, 0, 0,.9),rgb(0, 30, 255,.9));

}
.tr:nth-child(even){
background-color: rgb(242, 242, 242);
}

.tr i,.tiempos_hoy i{
    /* border: solid rgb(211, 210, 210) 1px; */
    box-shadow: 0px 0px 2px black;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    /* line-height: 16px; */
}
.row_ch{
    display:block;

    background: red;
    overflow:hidden;
    width: 95px;
    height:40px
}
.fecha_ch{
    display:block;
    width: 300px;
    /* background-color: aliceblue; */
}
.ul_lotto li{
 background-color: aliceblue;
 margin: 10px 0;
 list-style: none;
 padding-left: 5px;
}
.n{
    display: inline-block;
    background-color: rgb(226, 226, 254);
    width:40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 22px;
    color: black;
}

@media(max-width:576px){
    .res_tiemp_hoy,.res_lotto_hoy,.res_monazos_hoy{
        width:100%
    }
    .header{
        height: 150px;
    }
    .carousel-inner{
        height: 100px;
    }
    .header h1{
        width:100%;
        font-size: 30px;
    }
    .ultimos_resultados{
        margin: 0;
    }
    .result_parrafo{
        font-size: 20px;
    }
    .solo_cr{
        font-size: 18px;
    }
    .monto_loteria{
        display: block;
        font-size: 25px;
        text-align: right;
        padding-right: 10%;
    }
}