
*{
    margin: 0;
    padding: 0;
}
.container_np{
    padding-left: 0;
    padding-right: 0;
    max-width: 1200px;
}
.navbar{
    position: sticky;
    top: -10px;
    z-index: 100;
}
.navbar-brand{
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0,.1);
    text-shadow: -2px -1px 2px blue;
    letter-spacing: 2px;
}
/* .contenedor h1{
    font-size: 30px;
    width:100%;
    padding: 20px 0;
    text-align: center;
} */
.header{
    width:100%;
    height: 200px;
    /* background: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.carousel-inner{
    /* border:solid black 1px; */
    height: 200px;
}
.carousel-item{
    height: 100%;
    /* border: solid rgb(255, 145, 0) 2px; */
}
.carousel-item img{
    height:100%
}
.header h1{
    width:70%;
    color: white;
    text-shadow: 1px 1px 3px black;
    font-size: 40px;
}
.contenedor h2{
    font-size: 20px;
}
.contenedor h3{
    font-size: 20px;
}
.ultimos_resultados{
    width:100%;
    margin: 30px 0;
    /* background-color: aliceblue; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.res_tiemp_hoy{
    width:45%;
    background: linear-gradient(blue,rgb(1, 235, 118));
    /* color: white; */
    text-shadow: 1px 1px 2px white;
    font-size: 25px;
    padding: 20px 0 20px 5px;
    list-style: none;
}
.res_tiemp_hoy h2{
    color: white;
    text-shadow: none;
}
.fecha_tiemp{
    font-size: 15px;
    color: white;
    text-shadow: none;
}
.res_lotto_hoy{
    width:50%;
    background: linear-gradient(to right,blue,orange);
    list-style: none;
    padding: 20px 5px;
}

.res_lotto_hoy h2,.lotto_hoy_f{
    color: white;
}
.res_chances_hoy{
    width:100%;
    background: linear-gradient(to right,purple,orange);
    list-style: none;
    padding: 20px 5px;
    color: white;
}
.res_chances_hoy h3{
    background: transparent;
}
.res_chances_hoy li,.res_monazos_hoy li{
    /* border: solid black 1px; */
    margin: 10px 0;
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.2);
}
.res_chances_hoy b,.res_monazos_hoy b,.n_t{
    font-size: 23px;
    text-shadow: 1px 1px 3px black;
}
.res_monazos_hoy{
    background: linear-gradient(to left,grey,red);
    width:50%;
    list-style: none;
    padding-left: 2px;
}
.res_monazos_hoy b{
    color: white;
}
.res_monazos_hoy h3,.res_monazos_hoy h2,.n_t{
    color: white;
    font-size: 23px;
}
.tr:nth-child(even){
background-color: rgb(242, 242, 242);
}

.tr i,.tiempos_hoy i{
    /* border: solid rgb(211, 210, 210) 1px; */
    box-shadow: 0px 0px 2px black;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    /* line-height: 16px; */
}
.row_ch{
    display:block;

    background: red;
    overflow:hidden;
    width: 95px;
    height:40px
}
.fecha_ch{
    display:block;
    width: 300px;
    background-color: aliceblue;
}
.ul_lotto li{
 background-color: aliceblue;
 margin: 10px 0;
 list-style: none;
 padding-left: 5px;
}
.n{
    display: inline-block;
    background-color: rgb(226, 226, 254);
    width:40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 22px;
    color: black;
}

@media(max-width:576px){
    .res_tiemp_hoy,.res_lotto_hoy,.res_monazos_hoy{
        width:100%
    }
    .header{
        height: 150px;
    }
    .carousel-inner{
        height: 150px;
    }
    .header h1{
        width:100%;
        font-size: 30px;
    }
    .ultimos_resultados{
        margin: 0;
    }
}